body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.Welcome{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}
#name{
    color: orange;
}
.main{
    width: 41%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
#hi{
    width: 520px;
    height: auto;
    padding-right: 5%;
    padding-top: 25%;
}
#PO{
    font-weight: 500;
}
.top-banner{
    background-image: url(resourse/developer-portfolio/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
#profile{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}